<% provide(:title, "About") %>
<h1>Tutorials of Ruby on Rails</h1>
 
<p>
<div class="list-group">
  <a href="https://www.youtube.com/watch?v=XEkJ3vZb6-Q&list=PL01nNIgQ4uxNkDZNMON-TrzDVNIk3cOz4&index=3" class="list-group-item list-group-item-action">

One: Let's Build: With Ruby On Rails - Blog With Comments</a>
  <a href="https://www.youtube.com/watch?v=pPy0GQJLZUM" class="list-group-item list-group-item-action list-group-item-success">Two: Ruby On Rails In 60 Minutes</a>
  <a href="https://www.youtube.com/watch?v=fmyvWz5TUWg" class="list-group-item list-group-item-action list-group-item-secondary">Three: Learn Ruby on Rails - Full Course</a>
  <a href="https://www.youtube.com/watch?v=4ABesTeDKmQ&list=PL01nNIgQ4uxNkDZNMON-TrzDVNIk3cOz4" class="list-group-item list-group-item-action list-group-item-info">Four: Let's Build: With Ruby On Rails</a>
  <a href="https://www.youtube.com/watch?v=f_EaYFSePBo&list=PLgYiyoyNPrv81SdYk-eoMFacl-CJTO_xa" class="list-group-item list-group-item-action list-group-item-warning">Five: Learn Ruby on Rails from Scratch</a>
  <a href="https://www.youtube.com/watch?v=Dji9ALCgfpM" class="list-group-item list-group-item-action list-group-item-danger">Six: Ruby Programming</a>

</div>

<%= link_to image_tag("81biajd6kzzb.jpeg", alt: "Rails logo", width: "200"),
                        "https://rubyonrails.org/" %>
</p>
